table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

div.donutchart {
 width: 900px;
 height: 500px;
}

div.main-div{
    width:94%;
    margin-left:auto;
    margin-right:auto;
}

div.left-content {
width: 50%;
float: left
}
div.right-content {
width: 50%;
float: left
}