<div class="panel panel-warning">
    <div class="panel-heading">
        <h2>Expense Information</h2>
    </div>
    <div class="panel-body">
        <div ng-controller="expenseCtrl">
            <div>
                <h3>{{action}} Expense:</h3><br/>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only">Amount</label>
                        <input type="number" class="form-control" id="amount" placeholder="Amount" ng-model="amount" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Category</label>
                        <select name="category" ng-model="category" class="form-control"
                                ng-options="category as category.name for category in categories"></select>
                        <!-- <input type="text" class="form-control" id="category" placeholder="Category" ng-model="category" />-->
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Date</label>
                        <input type="date" class="form-control" id="date" placeholder="Date" ng-model="date" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Notes</label>
                        <input type="textarea" class="form-control" id="notes" placeholder="Notes" ng-model="notes" />
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="addExpense()">Add</button>
                </form>
            </div>
            <div>
                <H2>Expense Records</H2>
                <table >
                    <tr>
                        <th>ID</th>
                        <th>AMOUNT</th>
                        <th>DATE</th>
                        <th>CATEGORY</th>
                        <th>NOTES</th>
                        <th>ACTION</th>
                    </tr>
                    <tr ng-repeat="exp in expenses | orderBy :'date':true">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ exp.amount }}</td>
                        <td>{{ exp.date }}</td>
                        <td>{{ exp.category.name }}</td>
                        <td>{{ exp.notes }}</td>
                        <td>
                            <button type="submit" class="btn btn-info" ng-click="editExpense(exp.id)">Edit</button>
                            <button type="submit" class="btn btn-danger" ng-click="deleteExpense(exp.id)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>