<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Home Page</h1>
    </div>
    <div class="panel-body">
        <div ng-controller="homeCtrl">


            <div class="left-content">
                <H2>Income Records</H2>
                <div id="income-donutchart" class="donutchart"></div>
                <table >
                    <tr>
                        <th>ID</th>
                        <th>AMOUNT</th>
                        <th>DATE</th>
                        <th>CATEGORY</th>
                        <th>NOTES</th>
                    </tr>
                    <tr ng-repeat="inc in incomes | orderBy :'date':true">
                        <td>{{ inc.id }}</td>
                        <td>{{ inc.amount }}</td>
                        <td>{{ inc.date }}</td>
                        <td>{{ inc.category.name }}</td>
                        <td>{{ inc.notes }}</td>
                    </tr>
                </table>
            </div>
            <div class="right-content">
                <H2>Expense Records</H2>
                <div id="expense-donutchart" class="donutchart"></div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>AMOUNT</th>
                        <th>DATE</th>
                        <th>CATEGORY</th>
                        <th>NOTES</th>
                    </tr>
                    <tr ng-repeat="exp in expenses | orderBy :'date':true">
                        <td>{{ exp.id }}</td>
                        <td>{{ exp.amount }}</td>
                        <td>{{ exp.date }}</td>
                        <td>{{ exp.category.name }}</td>
                        <td>{{ exp.notes }}</td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
</div>